.navlinks {
  @apply relative flex flex-col md:flex-row justify-center items-end md:items-center md:justify-end;
}

.navlinklist {
  @apply md:relative md:flex items-center md:space-x-3 lg:space-x-6;
}

.navlinklistsm {
  @apply py-8 flex flex-col space-y-6 left-0 top-14 w-full bg-main fixed md:relative md:flex items-center md:space-x-4;
}

.navlink {
  @apply text-white text-sm lg:text-base font-medium hover:text-gold;
}

.navlinkactive {
  @apply text-gold text-sm lg:text-base font-medium;
}
