.pagination{
    @apply flex justify-end items-center space-x-3
}

.pagination button{
    @apply rounded-lg border-solid border-gray-800 border-[0.1rem] flex items-center p-2 bg-white stroke-black active:scale-95 disabled:cursor-not-allowed disabled:opacity-60;
}

.pagination p{
    @apply text-xs md:text-sm
}