.input {
    @apply disabled:opacity-60 border-none block w-full min-h-[1.5rem] h-[3.5rem] text-sm md:text-base font-medium placeholder:font-medium placeholder:text-gray-400 outline-0 border-[0.15rem] bg-white border-mainBlue rounded-2xl md:rounded-3xl text-gray-800 px-5 md:px-9 shadow-sm;
    -webkit-appearance: none;
    box-shadow: 2px 2px 4px 0px #518e99, -2px -2px 4px 0px #000;
}

.textarea {
    @apply border-none block w-full min-h-[15rem] max-h-[20rem] text-sm md:text-base font-medium placeholder:font-medium placeholder:text-gray-400 outline-0 border-[0.15rem] bg-white border-mainBlue rounded-2xl md:rounded-3xl text-gray-800 px-5 md:px-9 py-6 shadow-sm;
    -webkit-appearance: none;
    box-shadow: 2px 2px 4px 0px #518e99, -2px -2px 4px 0px #000;
}

.inputwithicon {
    @apply border-none block w-full min-h-[1.5rem] h-[3.5rem] text-sm md:text-base font-medium placeholder:font-medium placeholder:text-gray-400 outline-0 border-[0.15rem] bg-white border-mainBlue rounded-2xl md:rounded-3xl text-gray-800 px-9 shadow-sm;
    -webkit-appearance: none;
    box-shadow: 2px 2px 4px 0px #518e99, -2px -2px 4px 0px #000;
}

.select {
    @apply border-none block w-full min-h-[1.5rem] h-[3.5rem] text-sm md:text-base font-medium placeholder:font-medium placeholder:text-gray-400 outline-0 border-[0.15rem] bg-white border-mainBlue rounded-2xl md:rounded-3xl text-gray-800 px-5 md:px-9 shadow-sm;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: -2px -2px 4px #518e99, 2px 2px 4px #edb511;
}

.selectwithicon {
    @apply border-none block w-full min-h-[1.5rem] h-[3.5rem] text-sm md:text-base font-medium placeholder:font-medium placeholder:text-gray-400 outline-0 border-[0.15rem] bg-white border-mainBlue rounded-2xl md:rounded-3xl text-gray-800 px-5 md:px-9 shadow-sm;
    -webkit-appearance: none;
    box-shadow: -2px -2px 4px #518e99, 2px 2px 4px #edb511;
}

.iconleft {
    @apply absolute top-1/3 left-3;
}

.iconright {
    @apply absolute top-1/3 right-3;
}

.formcheck {
    @apply flex items-center space-x-2 font-medium text-xs md:text-sm lg:text-base cursor-pointer;
}

.formcheck a {
    @apply text-main hover:underline;
}

.checkbox {
    @apply cursor-pointer w-4 h-4 md:w-5 md:h-5 appearance-none relative bg-transparent border-main  border-[0.1rem] checked:border-mainBlue rounded-sm checked:bg-mainBlue;
}

.checkbox:checked::after {
    @apply absolute  scale-50 md:scale-75 w-full h-full;
    content: url("/images/checkmark.svg");
}

.formfield {
    @apply space-y-2;
}

.formfield label {
    @apply font-medium text-base md:text-lg;
}
