.pagehero{
    @apply h-[13rem]  md:h-[16rem] lg:h-[20rem] relative
}

.pagehero img{
    @apply absolute w-full h-full inset-0 object-cover brightness-[.3]
}

.container{
    @apply relative z-20 text-white flex flex-col justify-center h-full
}

.textwrapper{
    @apply space-y-5
}
.textwrapper h1{
    @apply text-3xl md:text-5xl lg:text-6xl font-bold
}

.textwrapper p{
    @apply flex items-center space-x-2 text-xs md:text-sm
}

.textwrapper p a{
    @apply hover:text-mainBlue duration-150
}