.header {
  @apply text-center space-y-3;
}

.header h2 {
  @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
}

.header p {
  @apply font-light text-base md:text-lg relative;
}

.header hr {
  @apply outline-none border-none h-[0.05rem] bg-black w-24 mx-auto;
}
