.modal {
  @apply flex justify-center items-center backdrop-brightness-50 fixed w-[100vw] h-[100vh] top-0 left-0 z-40;
}

.modalcontent {
  @apply rounded-xl py-4 min-h-[30vh] md:mt-0 bg-white w-[90%] md:w-[60%] lg:w-[35%];
}
