.nocontent {
  @apply space-y-4 py-7;
}

.nocontent img {
  @apply mx-auto w-28 lg:w-40;
}

.nocontent h3 {
  @apply text-center font-semibold text-lg md:text-xl text-slate-700;
}

.button {
  @apply mx-auto w-7/12 md:w-5/12 lg:w-4/12;
}
